name: "test"
on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions:
  id-token: write
  contents: read
  
jobs:
  test:
    name: "test-pipeline"
    runs-on: ubuntu-latest
    steps:

    
    - name: Configure AWS credentials from Test account
      uses: aws-actions/configure-aws-credentials@v1
      with:
        role-to-assume: arn:aws:iam::902066978923:role/test-role-github-actions
        aws-region: ap-southeast-2

    - name: test aws command
      run: |
        aws sts get-caller-identity
        aws eks describe-cluster --name sy-cluster
    
    - name: Checkout 
      uses: actions/checkout@v2
    
